#cardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 12%;
  margin: 2%;
  border: 5px solid black;
  padding: 1%;
  aspect-ratio: 1/1;

  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 4px solid black;
}
